{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'wechat/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'wechat/article.css' %}" />
    <script src="{% static 'wechat/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'wechat/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'wechat/js/article.js' %}"></script>
    <title>Title</title>
</head>
<body>

{% if username %}

<div class="navbar">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'wechat:index' %}"> {{ username }} </a></li>
        <li class="active"><a href="{% url 'wechat:logout' %}">Log out</a></li>
    </ul>
</div>

<div class="container">

    <div class="row">
    <div class="div-review-info col-md-6">


        <div class="row">
            <div class="pull-right div-rev-control">
                <a href="{% url 'wechat:article' prev_article_idx %}" class="btn btn-success">Prev Article</a>
                <a href="{% url 'wechat:article' next_article_idx %}" class="btn btn-success">Next Article</a>
            </div>
        </div>

        {% include "wechat/accountdetail.html" %}

        <div class="div-article-title">{{article_title}}</div>

        <div class="div-review-text">
        {{ highlighted_article |safe }}
        </div>
    </div>

    <div class="div-label col-md-6">

        <form id="form-main" action="{% url 'wechat:label' next_article_idx %}" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="pull-right div-rev-control">
                <a class="btn btn-default" onclick="prevMention()">Prev</a>
                <a class="btn btn-default" onclick="nextMention()">Next</a> &nbsp;&nbsp;
                <input type="submit" id="btn-submit" value="Submit" class="btn"/>
            </div>
        </div>

        <div class="candidates-main">
        {% for mention, is_labeled, candidates in mention_candidates %}

            <div class="div-candidates" id="div-mention-{{ forloop.counter }}">

                Mention {{forloop.counter}} / {{num_mentions}}

                {% if is_labeled %}
                    {% include "wechat/labelresult.html" with labelresult=candidates %}
                {% else %}

                <div class="row div-main-label" id="div-main-label-{{ mention.mention_id }}">
                    <div class="col-md-3" id="div-radio-link">
                        <!--<label class="radio-inline" onclick="checkRadio('{{ mention.mention_id }}', 'radio-gen-{{ mention.mention_id }}-1')">-->
                        <label class="radio-inline" onclick="linkChecked('{{ mention.mention_id }}')">
                          <input type="radio" id="radio-link-{{ mention.mention_id }}" name="main-label-{{ mention.mention_id }}" value="link"> Link
                        </label>
                    </div>
                    <div class="col-md-3 div-radio-nolink" id="div-radio-unlinkable">
                        <label class="radio-inline" onclick="nolinkChecked('{{ mention.mention_id }}')">
                        <input type="radio" name="main-label-{{ mention.mention_id }}" value="unlinkable" checked="checked"> Unlinkable
                        </label>
                    </div>
                    <div class="col-md-3 div-radio-nolink" id="div-radio-notsure">
                        <label class="radio-inline" onclick="nolinkChecked('{{ mention.mention_id }}')">
                        <input type="radio" name="main-label-{{ mention.mention_id }}" value="notsure"> Not Sure
                        </label>
                    </div>
                </div>


                <div id="div-link-{{mention.mention_id}}" class="div-link">
                    <div class="row">
                    <div class="pull-right div-checkbox">
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" name="franchise-{{mention.mention_id}}" value="franchise"> Franchise-->
                        <!--</label>-->
                        <label class="checkbox-inline">
                            <input type="checkbox" name="wrongspan-{{mention.mention_id}}" value="wrongspan"> Wrong Span
                        </label>
                    </div>
                    </div>

                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#gen-{{ mention.mention_id }}">Generated</a></li>
                      <li><a data-toggle="tab" href="#search-{{ mention.mention_id }}">Search</a></li>
                    </ul>

                    <div class="tab-content candidates-tab">
                        <div id="gen-{{ mention.mention_id }}" class="tab-pane fade in active">
                            {% include "wechat/candidates.html" with mention_id=mention.mention_id candidate_type="gen" %}
                        </div>
                        <div id="search-{{ mention.mention_id }}" class="tab-pane fade">
                            {% include "wechat/searchcandidates.html" %}
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>
        {% endfor %}
        </div>
        </form>
    </div>
    </div>
</div>

{% else %}
Not logged in.
{% endif %}

</body>
</html>
