{% for acc in candidates %}

<div class="div-candidate-row">
    <div class="div-account-detail"
         onclick="checkRadio('{{mention_id}}', 'radio-{{candidate_type}}-{{ mention_id }}-{{ acc.account_id }}')">
        <div class="div-biz-radio">
            <input type="radio" class="radio-candidate" name="link-label-{{ mention_id }}" value="{{ acc.account_id }}"
                   id="radio-{{candidate_type}}-{{ mention_id }}-{{ acc.account_id }}">
        </div>


        <span class="span-key">Name:</span> <span class="span-value">{{ acc.name }}</span>

    </div>
</div>

{% endfor %}
